.header {
    padding: 0;
    margin: 0;
    height: 4.5rem;
    position: relative;

    .logo-container {
        margin-left: 5rem;
        .logo {
            display: flex;
            margin-left: 4rem;
            color: white;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
